* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 35px;
    color: white;
}
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
    color: white;
}
h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    color: white;
}
h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    color: white;
}
h5 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    color: white;
}
h6 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 10px;
    color: white;
}
i {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: italic;
    color: white;
}
a {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
}
li {
    font-size: 20px;
    color: white;
}
p {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 2rem;
    color: white;
}

label {
    color: white;
}
img {
    border-radius: 1rem;
}

/*Open and Close buttons Mobile*/
@media screen and (min-width: 820px) {
    #close-button,
    #open-button {
        display: none;
    }
}

/*Navigation*/
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav li:last-child {
    margin-right: 0;
}

/*Page Header*/ 
#top-panel {
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
    top: 0;
    background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 16%,rgba(51,51,51,1) 16%,rgba(51,51,51,1) 31%,rgba(51,51,51,1) 56%,rgba(22,22,22,1) 100%,rgba(22,22,22,1) 100%);
    align-items: center;
}
#top-panel img {
    border-radius: 0;
    width: auto;
    height: 4.5rem;
}

#top-panel a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
}

#top-panel ul li a:hover {
    background-color: #AAFFB1;
    color: black;
    border-radius: .5rem;
}


/*Body Color*/
body {
    background-color: #161616;
}

/*Homepage*/

/*Home navigation*/
#nav-home li:nth-child(1) a{
    color: #AAFFB1;
}

/*Homepage image carousel*/
#carouselExampleAutoplaying {
    grid-column: 1/13;
}
/*Homepage grid*/
#container {
    margin: 1rem 4rem 0 4rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.grid-item-home-left {
    grid-column: 1/7;
}
.grid-item-home-left video{
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}
.grid-item-home-right {
    grid-column: 8/13;
}
.grid-item-home-right h2{
    text-align: center;
}
.grid-item-home-right h3 {
    line-height: 3rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
}
.grid-item-home-right p {
    text-indent: 50px;
}
.grid-item-home-left img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}


.grid-item-full {
    background-color: #AAFFB1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem;
    justify-content: space-between;
    position: relative;
}
.grid-item-full img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    filter: brightness(50%)saturate(80%);
    
}
.grid-item-full div:nth-child(2) {
    width: 100%;
}
.grid-item-full div:nth-child(3) {
    width: 100%;
}


.home-card {
    text-align: center;
    position: relative;
}

.grid-item-full h3 {
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    top: 42%;
}

.grid-item-full a {
    position: absolute;
    padding: .5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 58%;
    background-color: #AAFFB1;
    border: solid white;
    color: black;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
}
.grid-item-full div:nth-child(1) a{
    background-color: #79342E;
}
.grid-item-full div:nth-child(1) a:hover{
    background-color: #ac4c44;
}

.grid-item-full div:nth-child(2) a{
    background-color: #8C4C0F;
}
.grid-item-full div:nth-child(2) a:hover{
    background-color: #bb6e27;
}
.grid-item-full div:nth-child(3) a{
    background-color: #5A4554;
}
.grid-item-full div:nth-child(3) a:hover{
    background-color: #7a5e72;
}
/*Favorite flowers section*/
.grid-item-home {
    text-align: center;
    padding-top: 2rem;
}

/*About Page*/

/*About navigation*/

#nav-about li:nth-child(2) a{
    color: #AAFFB1;
}

/*About page grid*/
.grid-item-about-left {
    grid-column: 1/6;
}
.grid-item-about-left img {
    width: 100%;
    height: auto;
}
.grid-item-about-right {
    grid-column: 7/13;
}
.grid-item-about-right img {
    width: 100%;
    height: auto;
}

.grid-item-about-right h3 {
    text-align: center;
}

.grid-item-about-right p {
    text-indent: 50px;
}

#galGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    align-items: stretch;
    margin-top: 1rem;
}
#galGrid .gallery-card .gallery-image img {
    cursor: auto;
}





/*About Headers*/
.title {
    grid-column: span 12;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}
h2:first-child {
    margin-top: 0;
}
.grid-item-about {
    grid-column: 1/13;
    text-align: center;
    padding-top: 1rem;
}
/*Gallery Lightbox*/
#lightbox {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    display: none;
}
#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lightbox img {
    max-width: 90%;
    max-height: 80%;
}
#carouselmobile1 {
    display: none;
}
/*Gallery navigation*/

#nav-gallery li:nth-child(3) a{
    color: #AAFFB1;
}

.gallery-container {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px 100px;
    grid-gap: 1rem;
    grid-auto-flow: dense;
}
.gallery-card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 1rem;
}
.gallery-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
}
.gallery-card .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-card:hover .gallery-image img {
    transform: scale(1.5)
}
.gallery-text h3 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
    transition: .3s ease-in-out;
    width: 100%;
}
.gallery-card:hover .gallery-text h3{
    opacity: 1;
    animation: move-down .3s linear;
    width: 100%;
    text-shadow: 2px 2px 4px #000000;

}

.w-1 {
    grid-column: span 1;
}
.w-2 {
    grid-column: span 2;
}
.w-3 {
    grid-column: span 3;
}
.h-1 {
    grid-row: span 1;
}
.h-2 {
    grid-row: span 2;
}
.h-3 {
    grid-row: span 3;
}
.h-4 {
    grid-row: span 4;
}
/*Lightbox close button*/
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    color: #AAFFB1;
}

/*Contact Page*/

/*Contact navigation*/

#nav-contact li:nth-child(4) a{
    color: #AAFFB1;
}
.grid-item-contact-left {
    grid-column: 1/5;
}
.grid-item-contact-left h3 {
    text-align: center;
}

.grid-item-contact-left ul li {
    padding: 1rem;
    padding-left: 0;
}
.grid-item-contact-left ul li a {
    text-decoration: none;
    color: #AAFFB1;
}

.grid-item-contact-left ul li a:hover {
    color: #609e65;
}

.grid-item-contact-left li::marker {
    content: '❀';
    font-size: 1rem;
    letter-spacing: 1rem;
}
.contact-container {
    grid-column: 5/13;
    position: relative;
}
.contact-container label {
    font-size: 1.3rem;
}
.contact-container input {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}
form div {
    padding-top: 1rem;
}

form input {
    margin-top: 1rem;
    border-radius: .5rem;
    width: 15rem;
    height: 2rem;
    padding: .5rem;
}
.text-box {
    grid-column: span 2;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.span-4 {
    border-radius: .5rem;
    border: 2px solid black;
    padding: .5rem;
    width: 100%;
}
.submit {
    grid-column: span 2;
    background-color: #AAFFB1;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid black;
    width: 9rem;
}
.submit:hover {
    background-color:#609e65;
    color: white;
}

.contact-container img {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    filter: brightness(30%)saturate(80%);
}

/*Special Ocassions Page*/
.grid-item-special-left {
    grid-column: 1/4;
    margin-top: 1rem;
}
.grid-item-special-left img {
    width: 100%;
    height: auto;
    border-radius: 1rem 0 0 1rem;
    margin-bottom: -0.15rem
}
.grid-item-special-right {
    grid-column: 4/13;
    background-color: rgb(71, 71, 71);
    margin-top: 1rem;
    border-radius: 0 1rem 1rem 0;
}
.grid-item-special-right h3 {
    text-align: center;
    padding-top: 1rem;
}
.grid-item-special-right h4 {
    padding: 1rem;
    padding-left: 2rem;
}
.grid-item-special-right p {
    padding: 2rem;
    padding-top: 0;
    margin-top: 0;
    text-indent: 50px;
    padding-bottom: 1rem;
}
.grid-item-special-right ul {
    padding: 1rem;
    padding-left: 2rem;
}
.grid-item-special-right li {
    padding: .5rem 0 .5rem 0;
}
.grid-item-special-right li::marker {
    content: '❀';
    font-size: 1rem;
    letter-spacing: .5rem;
}

.mobileimg {
    display: none;
}
/*Seasonal*/
.grid-item-seasonal-left {
    grid-column: 1/6;
}
.grid-item-seasonal-left img {
    width: 100%;
}
.grid-item-seasonal-right {
    grid-column: 7/13;
}
.grid-item-seasonal-right h3 {
    text-align: center;
}
.grid-item-seasonal-right li::marker {
    content: '❀';
    font-size: 1rem;
    letter-spacing: 1rem;
}
/*Classes Page */
.grid-item-classes-right {
    grid-column: 8/13;
}
.grid-item-classes-right h3 {
    text-align: center;
}
.grid-item-classes-right p{
    text-indent: 50px;
}
/*Footer*/
footer {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(to bottom, rgba(22,22,22,1) 24%,rgba(51,51,51,1) 57%,rgba(51,51,51,1) 57%,rgba(51,51,51,1) 100%);
    margin-top: 1rem;
}
footer ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
footer h3 {
    font-size: 1.2rem;
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
footer a:hover {
    text-decoration: underline;
}